@media screen and (max-width: 768px){

    .main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textInput {
    width: 200px;
    font-size: 8px;
}

#countButton {
    width: 200px;
}

#lettersDiv {
    width: 200px;
   
}

#wordsDiv {
    width: 200px;
   
}
}